{% extends "base.html" %}
{% block content %}
{% if errors %}
<div class="alert alert-danger">
  <ul>
    {% for error in errors %}
      <li>{{error}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

  <h1>Muokkaa tietojasi</h1>

  <form method="put" action="{{base_path}}/users/{{user.id}}/edit">
    <div class="checkbox">
      <label>
        <input name="admin" type="checkbox">
        Admin -- tulee näkymään vain admineille.
      </label>
    </div>

    <div class="form-group">
      <label>Nimi</label>
      <input name="name" type="text" class="form-control" value="{{user.name}}">
    </div>

    <div class="form-group">
      <label>Muokkaa jäsenyyttä: --ei valitse oikein defaulttia</label>
      <select name="org" class="form-control" required>
        {% for o in orgs %}
        <option value="{{o.id}}">{{o.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Muokkaa toista jäsenyyttä:</label>
      <select name="org2" class="form-control">
        <option value="null"></option>
        {% for o in orgs %}
        <option value="{{o.id}}">{{o.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Uusi salasana</label>
      <input type="password" name="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Salasana uudelleen</label>
      <input type="password" name="passwordConfirmation" class="form-control">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
