{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tietojasi</h1>

  <form method="post" action="{{base_path}}/users/edit">
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Admin -- tulee näkymään vain admineille.
      </label>
    </div>

    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="{{user.name}}">
    </div>

    <div class="form-group">
      <label>Muokkaa jäsenyyttä: --ei toimi vielä</label>
      <select name="org" class="form-control" required>
        {% for o in orgs %}
        <option value="{{o.id}}">{{o.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Muokkaa toista jäsenyyttä:</label>
      <select name="org2" class="form-control">
        <option value="null"></option>
        {% for o in orgs %}
        <option value="{{o.id}}">{{o.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Uusi salasana</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Salasana uudelleen</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
