{% extends "base.html" %}
{% block content %}
{% if (message) %}
  <div class="alert alert-success">
    {{message}}
  </div>
{% endif %}

  <h1>Käyttäjälista</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Sähköposti</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for u in users %}
      <tr>
        <td><a href="{{base_path}}/users/{{u.id}}">{{u.name}}</a></td>
        <td>{{u.email}}  </td>
        <th>
          <a class="btn btn-default btn-sm" href="{{base_path}}/users/{{u.id}}/edit">Muokkaa</a>
          <form method="POST" action="{{base_path}}/users/{{u.id}}/delete" style="display: inline-block;">
            <button type="submit" class="btn btn-danger">Poista</button>
          </form>
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
