{% extends "base.html" %}
{% block content %}
  <h1>Lisää peli kirjastoosi</h1>

  <form method="post" action="{{base_path}}/game">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <textarea name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label>Salasana uudestaan</label>
      <textarea name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}
