{% extends "base.html" %}
{% block content %}
  <h1>Luo uusi käyttäjä</h1>

  <form method="post" action="{{base_path}}/users">
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input type="password" name="password" class="form-control"></input>
    </div>

    <div class="form-group">
      <label>Salasana uudestaan</label>
      <input type="password" name="passwordConfirmation" class="form-control"></input>
    </div>

    <div class="form-group">
      <label>
        <input name="admin" type="checkbox">
        Admin -- tulee näkymään vain admineille.
      </label>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}
