{% extends "base.html" %}
{% block content %}
  {% if (message) %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <h1>{{user.name}}</h1>

  <h5>Jäsenyydet:</h5>

  {% for m in ms %}
    <p>{{m}}</p>
  {% endfor %}

  <p>
    <form method="POST" action="{{base_path}}/users/{{u.id}}/delete" style="display: inline-block;">
      <button type="submit" class="btn btn-danger">Poista</button>
    </form>
    <a href="{{base_path}}/users/{{user.id}}/edit" class="btn btn-default">Muokkaa</a>
  </p>

{% endblock %}
