{% extends "base.html" %}
{% block content %}
{% if (message) %}
  <div class="alert alert-success">
    {{message}}
  </div>
{% endif %}

  <h1>Kysymyslista</h1>

  <p>
    <a href="{{base_path}}/questions/new" class="btn btn-success">Lisää kysymys</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Kysymys</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for q in questions %}
      <tr>
        <td><a href="{{base_path}}/questions/{{q.id}}">{{q.name}}</a></td>
        <td>{{q.body}}</td>
        <td>
          <a class="btn btn-default btn-sm" href="{{base_path}}/questions/{{q.id}}/edit">Muokkaa</a>
          <form method="DELETE" action="{{base_path}}/questions/{{q.id}}/destroy" style="display: inline-block;">
            <button type="submit" class="btn btn-danger">Poista</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
