{% extends "base.html" %}
{% block content %}
  {% if (message) %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <h1>{{q.name}}</h1>

  <strong>Kysymys:</strong>
  <p>{{q.body}}</p>

  <strong>Oikea vastaus:</strong>
  <p>{{q.correctAnswer}}</p>

  <strong>vastausvaihtoehdot:</strong>
  <p>{{q.possibleAnswers}}</p>


  <form method="DELETE" action="{{base_path}}/questions/{{q.id}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
  </form>

  <p>
    <a href="{{base_path}}/questions/{{q.id}}/edit" class="btn btn-default">Muokkaa</a>
  </p>
{% endblock %}
