{% extends "base.html" %}
{% block content %}

  <div>
    <h1>Tämä on kysymyssivu</h1>

    <form id="questionForm" method="post" action="{{base_path}}/quiz">
      {% for q in questions %}
        <div class="questionRow form-group">
          <h3>{{q.name}}</h3>
          <p>{{q.body}}</p>

        <strong>Vastauksesi: </strong>
        {% for a in q.possibleAnswers %}
          <label><input type="radio" name="{{q.id}}" value="{{a}}" required/>{{a}}</label>
        {% endfor %}
        </div>
      {% endfor %}

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Lähetä</button>
      </div>
    </form>
  </div>

{% endblock %}
