@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.front-header {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}

.frontLogin {
  max-width: 50vh;
  margin: 20px auto;
}

form {
  max-width: 600px;
}
