
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
}

.frontPage {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('kekek.jpeg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0vh;
  left: 0vw;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.title h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 6rem;
  white-space: nowrap;
}

.main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.pull-right{
  position: absolute;
  top: 15vh;
  right: 15vw;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
  color: white;
}

.front-header {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}

form {
  max-width: 600px;
}

.questionRow {
  text-align: left;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  word-wrap: break-word;
}

#results{
  margin: 0px auto;
  padding: 10px;

}

#questionForm {
  max-width: 1000px;
}

#questionForm > div.questionRow:nth-of-type(even) {
    background: #edeeef;
}
