@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
}

#questionContainer {

}

.questionRow {
  text-align: left;

}

#questionContainer > div:nth-of-type(even) {
    background: grey;
}

.frontPage {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("https://static.pexels.com/photos/159353/survey-opinion-research-voting-fill-159353.jpeg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0vh;
  left: 0vw;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.title h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 6rem;
  white-space: nowrap;
}

.main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.pull-right{
  position: absolute;
  top: 15vh;
  right: 15vw;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
  color: white;
}

.front-header {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}

form {
  max-width: 600px;
}
