{% extends "base.html" %}
{% block content %}

<div class="frontPage">

  {% if error %}
  <div class="alert alert-danger">
      <strong>{{error}}</strong>
  </div>
  {% endif %}

  {% if (message) %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <div class="title">
    <h1>Teoriakoe</h1>
  </div>


  <div class="pull-right">
      <h3>Kirjaudu sisään</h3>
      <!-- Kaikki lomakkeen elementit form-tagin sisään -->
      <form action="{{base_path}}/login" method="post">
        <!-- Tekstikenttä käyttäjätunnukselle -->
        <div class="form-group">
          <label>Käyttäjätunnus</label>
          <input type="text" name="username" value="{{user.username}}" class="form-control">
        </div>

        <!-- Salasanakenttä salasanalle -->
        <div class="form-group">
          <label>Salasana</label>
          <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
      </form>

      <button href="{{base_path}}/register" class="btn btn-primary">Rekisteröidy</button>
  </div>

</div>
{% endblock %}
