{% extends "base.html" %}
{% block content %}

  {% if (message) %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <div>
    <h1>Teoriakokeen tutkailusivu</h1>

    {% if (answerPercentage) %}
      <div id="results">
        <p>
          Vastasit oikein {{answerPercentage}} % tarkkuudella!
        </p>
      </div>
    {% endif %}

    <p>Tässä välissä hieman statistiikkaa</p>

    <a href="{{base_path}}/quiz">
      <button type="button" class="btn btn-primary btn-lg" >Kokeeseen</button>
    </a>
  </div>

{% endblock %}
