{% extends "base.html" %}
{% block content %}

  {% if (message) %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <div>

    {% if (stats) %}
      <div id="results">

        <h2>Kokeen tulokset</h2>
        <p>
          Kokeen läpipääsy edellyttää 75% oikeinvastauksia.
        </p>

        <h3>
          Olet vastannut kysymyksiin seuraavasti:
        </h3>

        <p>
          Yhteensä {{percentage}}% vastauksista on oikein.
        </p>

        {% for s in stats %}
        <div class="statRow">
          <h3>{{s.name}}</h3>
          <p>
            {{s.body}}
          </p>
          <strong>
            {% if s.correct %}
             Oikein!
            {% else %}
             Väärin :(
            {% endif %}
          </strong>
        </div>
        {% endfor %}

      {% else %}
        <p>
          Et ole vastannut vielä kysymyksiin, siirry tekemään koetta!
        </p>
      {% endif %}

    </div>

    <br />

    <a href="{{base_path}}/quiz">
      <button type="button" class="btn btn-primary btn-lg" >Kokeeseen</button>
    </a>
  </div>

{% endblock %}
