{% extends "base.html" %}
{% block content %}

  {% if (message) %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <div>

    {% if (stats) %}
    <div id="results">
      <h2>
        Olet vastannut kysymyksiin seuraavasti:
      </h2>

      <p>
        Yhteensä {{percentage}}% vastauksista on oikein.
      </p>

      {% for s in stats %}
        <h3>{{s.name}}</h3>
        <p>
          {{s.body}}
        </p>
        <strong>
          {% if s.correct %}
           Oikein!
          {% else %}
           Väärin :(
          {% endif %}
        </strong>
      {% endfor %}

      {% else %}
        <p>
          Et ole vastannut vielä kysymyksiin, siirry tekemään koetta!
        </p>
      {% endif %}

    </div>

    <br />

    <a href="{{base_path}}/quiz">
      <button type="button" class="btn btn-primary btn-lg" >Kokeeseen</button>
    </a>
  </div>

{% endblock %}
